// Place all the styles related to the rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "jstree/style"

.btn
  background-color: lavenderblush
  border: none
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
.path-pattern-item
  background: gainsboro
table.css-path-setting > tbody > tr
  > td > div
    height: 600px
  > td:nth-child(1) > div, > td:nth-child(2) > div
    overflow: scroll
form div.submit-buttons
  .btn
    margin: 0px 10px

